/* Carousel */
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}
.carousel-item {
  min-width: calc(100% - 40px);
  margin: 0 20px;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #66776a;
  border-radius: 8px;
}
